[submodule "gputrigger"]
	path = gputrigger
	url = https://github.com/FlagZhao/gputrigger.git
	branch = redundant
[submodule "redshow"]
	path = redshow
	url = https://github.com/FlagZhao/redshow.git
	branch = redundant
[submodule "libmonitor"]
	path = libmonitor
	url = https://github.com/HPCToolkit/libmonitor.git

