[submodule "gputrigger"]
	path = gputrigger
	url = git@github.com:FlagZhao/gputrigger.git
	branch = redundant
[submodule "redshow"]
	path = redshow
	url = git@github.com:FlagZhao/redshow.git
	branch = redundant
[submodule "libmonitor"]
	path = libmonitor
	url = git@github.com:HPCToolkit/libmonitor.git

